<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/static/commons.css" />
        <style>
            .pg-header{
                height: 48px;
                background-color: skyblue;
                color: black;
            }
        </style>
        {% block css %}{% endblock %}
    </head>
    <body>
        <div class="pg-header">小男孩管理</div>
        
        {% block content %}{% endblock %}

        <script src="/static/jquery-1.12.4.js"> </script>
        {% block js %}{% endblock %}
    </body>
</html>